@font-face {
    font-family: 'Dancing Script';
    src: url('../font/DancingScript-Bold.eot');
    src: url('../font/DancingScript-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/DancingScript-Bold.woff2') format('woff2'),
        url('../font/DancingScript-Bold.woff') format('woff'),
        url('../font/DancingScript-Bold.ttf') format('truetype'),
        url('../font/DancingScript-Bold.svg#DancingScript-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Lato';
    src: url('../font/Lato-Light.eot');
    src: url('../font/Lato-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/Lato-Light.woff2') format('woff2'),
        url('../font/Lato-Light.woff') format('woff'),
        url('../font/Lato-Light.ttf') format('truetype'),
        url('../font/Lato-Light.svg#Lato-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('../Poppins-Light.eot');
    src: url('../Poppins-Light.eot?#iefix') format('embedded-opentype'),
        url('../Poppins-Light.woff2') format('woff2'),
        url('../Poppins-Light.woff') format('woff'),
        url('../Poppins-Light.ttf') format('truetype'),
        url('../Poppins-Light.svg#Poppins-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}





