.img {
	width: 1280px;
	height: 900px; 
	background-image: url(../image/img1.jpg);
	background-attachment: fixed;
	background-size: auto;
	background-repeat: no-repeat;
	position: relative;
}
.container {
	max-width: 1280px;
	width: 100%;
	margin: 0 auto; 
}
.d-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
h3 {
	margin: 57px 0 0 70px;
	font-size: 28px;
	color: #D9F0FF;
	font-family: 'Dancing Script';
}
ul {
	display: flex;
	margin: 75px 140px 0 0;
}
li a {
	font-size: 12px;
	color: #D9F0FF;
	margin: 30px;
	font-family: 'Poppins';
}
.title {
	color: #FFFFFF;
	font-size: 100px;
	font-family: 'Lato';
	position: absolute;
	bottom: 500px;
	right: 389px;
}
.button {
	position: absolute;
	width: 307px;
	height: 72px;
	border: solid;
	border-radius: 30px;
	border-style: none;
	text-align: center;
	background-color: #325DFF;
	bottom: 348px;
	right: 500px;
	font-size: 14px;
	font-family: 'Lato';
	font-weight: bold;
	color: white;
	margin: 25px 50px 25px 50px;
}

/* section 2 */

.b-flex {
	display: flex;
	flex-wrap: wrap;
}

.box {
	width: 640px;
	height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.box-title {
	width: 468px;
	height: 186px;
	color: black;
	font-size: 50px;
	font-family: 'Lato';
}
.box2 {
	width: 640px;
	height: 600px;
	background-image: url(../image/img2.jpg);
}
.box-text {
	width: 457px;
	height: 128px;
	font-size: 16px;
	font-weight: lighter;
}
.button2 {
	width: 307px;
	height: 72px;
	border: solid;
	border-radius: 30px;
	border-style: none;
	background-color: #325DFF;
	color: white;
	text-align: center;
	font-size: 14px;
	font-family: 'Lato';
	font-weight: lighter;
	margin: 25px 50px 25px 50px;
	bottom: 100px;
	right: : 82px;
}

/* section 3 */





